.customer-profile{
    
    .image-container{
        align-items: center !important;
        display: flex !important;
        justify-content: center !important;
    }
    .profile-info{
        padding: 0 !important;
    }
}