::-webkit-input-placeholder {
   font-style: bold;
   color: mintcream;
   /* text-decoration-color: red; */
}
:-moz-placeholder {
   font-style: italic;  
}
/* ::-moz-placeholder {
   font-style: italic;  
} */
/* :-ms-input-placeholder {  
   font-style: italic; 
} */
input::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}
input:-moz-placeholder {
    color: red;
    font-weight: bold;
}
input:-ms-input-placeholder {
    color: red;
    font-weight: bold;
}
.box::-moz-placeholder{
    color: red;
    font-weight: bold;
}