// .info-border1 {
//     padding-left: 24px !important;
//     padding-top: 20px !important;
//     padding-bottom: 20px !important;
//     border: 2px dashed orange;
//     border-radius: 2px;
//     border-spacing: 10px;
//     line-height: 1.3em;
//     .info-desc {
//         color: black;
//     }
// }

.info-border1 {
    width: 100%;
    padding-left: 24px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 2px dashed orange;
    border-radius: 2px;
    border-spacing: 10px;
    line-height: 1.3em;
    .info-desc {
        color: black;
    }
}

