<!-- let arr=[1,3,2,4];
o/p 
9,7,8,6

function sample(newArr){
    let finalRes;
    for(let i=0;i<newArr.length;i++){
        if()
        finalRes.push();
    }
    return finalRes;
}

let arr=[1,3,2,4];
let res= sample(arr);
console.log(res); -->

<!-- render() {
  return (<Parent>
      <Child1 />
      <Child2 />
       <input value={value} onChange={(e) => setState({value: e.target.value})}/> 
   </Parent>)
}
class Child1 extends React.Component{

}
export default memo(Child1); -->


<!-- let arr=[1,3,2,4];
let obj= {2:1, 3:3, 4:2, 5:4}; -->

let arr=[1,3,2,4];
o/p 
9,7,8,6

function sample(newArr){
    let finalRes;
    for(let i=0;i<newArr.length;i++){
        if()
        finalRes.push();
    }
    return finalRes;
}

let arr=[1,3,2,4];
let res= sample(arr);
console.log(res);


let arr=[1,3,2,4];
let obj= {2:1, 3:3, 4:2, 5:4}; 