.table {
  border: 2px solid black;
  border-collapse: collapse;
  border-radius: 10px;
  border-color: red;
}
.th {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: #96d4d4;
  border-radius: 10px;
  border-color: red;
}
.td {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: beige;
  border-radius: 10px;
  border-color: red;
}
