.sidebar-component-style{
.pusher-style{
    transform: translate3d(85px,0,0) !important;
    padding-right: 6%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;

    background-color: #E7EBF4 !important;
}
}