.site-calendar {
    width: 80px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    
   }
   .calend{
    height:100px;
    margin-top:-35px !important;
   }
    // [data-theme="dark"] .site-calendar-customize-header-wrapper {
    // border: 1px solid #303030;
    // }
