.tabular-component{
 
    .table-row{
        background: #F8F9FA;
    }
    .table-header-last{
      padding-right: 20px !important;
    }
    .table-cell-first{
        padding-left: 20px !important;
    }
    .table-header-first{
        padding-left: 20px !important;
    }
    .table-cell-last{
        padding-right: 20px !important;
    }
}