.sidenav {
    margin-top: 70px;
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #424242;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
    .nav-link {
        padding: 15px;
        text-decoration: none;
        font-size: 30px;
        display: block;
        color: white;
    }
    .nav-link:hover {
        background-color: #2E2E2E;
    }
    .nav-link:active {
        background-color: #2E2E2E;
    }
  }
  