.main-content-center{
    text-align: center;
    .buttons-center{
        text-align:center;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.content-data{
    border: 1px solid gray;
    width: 500px;
    text-align: center;
    padding:10px 100px 10px 100px;
    margin:10px 500px 10px 500px;
}