
.micro-interaction{
    .red{
        color: red;
    }
    .green{
        color: green;
    }
    .highlight {
        background: red !important;
        color: #fff;
        font-weight: bold;
    }
    .gray{
        background: rgb(194, 194, 194) !important;
        color: #fff;
        font-weight: bold;
    }
    .green{
        background: rgb(50, 211, 10) !important;
        color: #fff;
        font-weight: bold;
    }
    
        .tab-card{
            background: #294355 !important;
            color: #fff;
            border-radius: 15px !important;
            padding: 30px 40px 30px 20px!important;
            .card-number{
                font-size: 2.8rem;
                font-weight: 900;
            }
            .card-symbol{
                font-size: 1.5rem;
                font-weight: 300;
                }
                .icon-section{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background: #142035;
                    margin-top: -10px;
                }
        }
    
}