.info-border3{
    border-radius: 15px !important;
    padding-top: 25% !important;
    border-width: 1.8px;
    .info-icon {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
    }
    .info-desc {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
        color: white;
        font-weight: bold;
        font-size: 14px !important;
    }
}