/* .header {
  height: 5rem;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

@media screen and (max-width: 600px) {
  .header {
  height: 5rem;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  }
}
}
   


.logo {
  font-family: 'fangsong', sans-serif;
  font-size: 2rem;
  color: rgb(255, 0, 128);
  margin: 0;
  
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #c291e2;
}


.header button:hover {
  background-color: #c291e2;
  color: #38015c;
}
.spaceClass{
  margin: 0 4rem !important;
} */
.header{
  margin-bottom: 7%;
}
.header button:hover {
  background-color: #c291e2;
  color: red;
}
.spaceClass{
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: red;
}
.colorName{
  color: red;
}