.header {
  .border-right {
    border-right: 1px solid;
  }
  .navbar {
    background-color: #019cdb;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 70px;
    .navbar-brand {
      padding: 0;
      height: 40px;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
    .navbar-nav {
      padding: 0;
      .nav-item {
        p {
          font-size: 20px;
          margin: 0;
          color: white;
          font-weight: bold;
        }
        i {
          font-size: 20px;
          color: white;
        }
        margin: 0;
        
        .nav-link {
          padding: 20px 20px;
          margin: 0;
        }
        .nav-link:hover {
          background-color: #0082DC;
        }
        .user-image {
          padding-top: 10px;
          height: 60px;
          width: auto;
        }
      }
    }
    
    // .navbar-nav {
    //   .nav-item {
    //     input[type="text"] {
    //       width: 1px;
    //       box-sizing: border-box;
    //       border: 2px solid #ccc;
    //       border-radius: 4px;
    //       font-size: 16px;
    //       background-color:#0082DC;
    //       margin-top: 10px;
    //       background-position: 10px 10px;
    //       background-repeat: no-repeat;
    //       padding: 12px 20px 12px 40px;
    //       width: 100%;
    //       color: #fff;
    //     }

    //     input[type="text"]:focus {
    //       width: 100%;
    //     }
    //     margin-right: 20px;
    //     .nav-link {
    //       color: white;
    //       font-size: 20px;
    //       p {
    //         margin-top: 10px;
    //       }
    //     }
    //     .nav-para {
    //       color: white;
    //       font-size: 20px;
    //       margin: 10px 3px;
    //       padding: 10px 8px;
    //     }
        
    //   }
     
      // .bg-change:hover {

      // }
      // .bg-change:hover {
      //     background-color: #0082DC;
      //     .nav-link{
      //         color: white;
      //     }
      // }
    // }
  }
}
