.button {
  border-radius: 50px;
  background-color: transparent;
  width: 150px;
  height: 56px;
  color: #019cdb;
  border-color: #019cdb;
  margin-left: 5px;
  padding-top: 2px;
  border: 2px solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 10px;
  cursor: pointer;
}
