
    .footer {
        text-align: left;
        background-color: #f6f6f6;
        color: #585452;
        padding: 20px 50px 0 70px;
      
        .center {
          text-align: center !important;
          .logo-text {
            font-size: 22px;
            font-weight: 300;
          }
        }
      }
    